.card-parent-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    top: 10em;  
}

.cardContainer{
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.cardContainer .btn.btn-primary {

    float: right;
    margin-top: 50px;
    margin-right: 12px;
}

.form-control {
     margin-top: 31px;

}


.repayAmount{
    margin-top: 100px;
}